*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(38, 0, 128), rgb(196, 192, 255), rgb(38, 0, 128));
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.container{
    /* background-color: aqua; */
    width: 100%;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.438);
    overflow: hidden;
}

.header{
    background: linear-gradient(120deg, rgb(5, 141, 225), rgb(113, 104, 237), rgb(12, 8, 213));
    padding: 30px 20px;
    text-align: center;
}

.header h2{
    font-size: 30px;
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 4px black;
}

.content{
    padding: 40px 200px;
}

.textarea{
    width: 100%;
    color: black;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 50px 40px;
    font-size: 0.88rem;
    transition: all 0.3s ease;
}

.textarea:focus{
    border-color: rgb(192, 251, 255);
    color: rgb(0, 21, 128);
    box-shadow:  0 0 0 3px black;
}

.cc{
    text-align: center;
    padding: 20px;
    color: whitesmoke;
    font-size: 1rem;
    line-height: 1.6;
    /* background: linear-gradient(135deg, rgb(255, 255, 255), pink, purple); */
    border-radius: 10px;
    font-weight: 400;
    
}

@media(max-width: 768px){
    body{
        padding: 10px;
    }

    .container{
        border-radius: 15px;
        /* padding: 10px; */
        border
    }

    .header{
        padding: 20px 15px;
    }

    .content{
        padding: 15px;
        font-size: 1.5rem;
    }
}